<a href="/">Home</a>
<a href="/about/">About</a>

<body>
    <h1>My first page astro</h1>
    <h1>This is About me</h1>
    <p>Saya sedang belajar astro js</p>
    <p>Nama saya Eldy Effendi</p>
</body>